@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;500;600&display=swap");

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  background-color: rgb(22, 22, 22);
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}
section {
  min-height: 100vh;
}
.section-title h2 {
  font-size: 4rem;
  font-weight: 500;
  color: white;
}

.slideshow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slideshow::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 2;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s;
}

.slide.active {
  opacity: 1;
}

#home {
  display: grid;
  place-items: center;
}

.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  white-space: nowrap;
  animation: moveTo 4s linear 10s both;
  @media (max-width: 1180px) {
    animation: none;
  }
}

.page-title h1 {
  display: block;
  font-size: 5rem;
  font-weight: 200;
  margin: 0;
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 10s linear both;
  animation: text-flicker-in-glow 10s linear both;
}

.mouse {
  width: 45px;
  height: 80px;
  position: absolute;
  border: 3px solid white;
  bottom: 20px;
  border-radius: 60px;
  z-index: 1;
}
.mouse::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheelAnimation 2s infinite;
}
@keyframes wheelAnimation {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
    opacity: 1;
    text-shadow:
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    filter: saturate(60%);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
    border: none;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4),
      0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow:
      0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45),
      0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }

  100% {
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
    opacity: 1;
    text-shadow:
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4);
    filter: saturate(60%);
  }
}

@keyframes moveTo {
  0% {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    top: 30%;
    left: 85%;
    opacity: 1;
  }
}
.about-container {
  display: grid;
  place-items: center;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 5px;
  place-items: center;
  color: white;
  width: 50vw;
}

.box1 {
  grid-area: 1 / 1 / 3 / 3;
}
.box2 {
  grid-area: 3 / 1 / 5 / 2;
}
.box3 {
  grid-area: 3 / 2 / 5 / 3;
}
.box4 {
  grid-area: 5 / 1 / 7 / 2;
}
.box5 {
  grid-area: 5 / 2 / 7 / 3;
}
.box6 {
  grid-area: 7 / 1 / 9 / 3;
}

.about-grid div {
  display: grid;
  place-items: center;
  line-height: 1.5;
  background-color: #f5cc00;
}
.box1,
.box6 {
  width: 100%;
  color: black;
}
.text-box {
  padding: 75px;
  width: 75ch;
}

.icon-box {
  padding: 20%;
  text-align: center;
  color: black;
}
.icon-box:nth-child(2) {
  background-color: #cca000;
}
.icon-box:nth-child(3) {
  height: 100%;
  background-color: #003566;
  color: white;
  display: flex;
  flex-direction: column;
}
.icon-box:nth-child(4) {
  background-color: #003f88;
  color: white;
}
.icon-box:nth-child(5) {
  background-color: #00296b;
  color: white;
}

.icon-box i {
  font-size: 50px;
}
.page-title {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-end-border {
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  height: 150px;
  padding: 50px;
  border: 5px var(--color1) inset;
  box-shadow:
    inset 0 0 10px var(--color1),
    inset 0 0 20px var(--color2),
    inset 0 0 40px var(--color3),
    inset 0 0 80px var(--color4);
  filter: saturate(60%);
  position: absolute;
}

.square {
  -color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  position: absolute;
  border: 2px var(--color1) dashed;
  box-shadow:
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  background-color: azure;
}
.large {
  width: 65px;
  height: 65px;
  top: -30px;
  left: -20px;
}
.medium {
  top: 45px;
  left: -20px;
  width: 35px;
  height: 35px;
}
.small {
  top: -14px;
  left: 55px;
  height: 25px;
  width: 25px;
}
.projects-container {
  text-align: center;
  margin-bottom: 100px;
  padding-top: 25px;
}

.projects-grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 20%;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item img {
  max-width: 300px;
  cursor: pointer;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1025px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.mockup {
  > a {
    display: inline-block;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.5s;
    position: relative;
    &:hover {
      filter: grayscale(0%);
      &::before {
        transform: translateX(100%);
      }
    }
    &::before {
      content: "";
      clip-path: polygon(
        50% 0%,
        100% 0%,
        60% 40%,
        100% 40%,
        0% 100%,
        40% 60%,
        0% 60%
      );
      background-color: yellow;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: all 0.5s;
    }
  }
}

.github-link,
.live-link {
  overflow: hidden;
  display: inline-block;
  margin-top: 8px;
  padding: 6px 12px;
  text-decoration: none;
  color: #f5cc00;
  border: 3px solid #00296b;
  transition: all 0.5s;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00296b;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    height: 0%;
    transition: all 0.5s;
  }
  &:hover::before {
    height: 190%;
  }
}
#contact {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.contact-container {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}
.banner-link {
  display: block;
  height: 50px;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: #f5cc00;
}
.banner {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100vw;
  height: 50px;
  background-color: #00296b;
  overflow: hidden;
  transform: rotate(-5deg);
  transform-origin: 0 100%;
  display: flex;
  align-items: center;
}
.banner-content {
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 0;
  animation: scrollBanner 60s linear infinite;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    font-size: 2.1rem;
  }
}
.contact-message {
  margin-right: 50px;
}

@keyframes scrollBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

footer {
  position: relative;
}
.social-media-icons {
  width: 100%;
  font-size: 40px;
  position: absolute;
  bottom: 60px;
  color: #cca000;
  display: flex;
  justify-content: center;
}
.social-media-icons i {
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
footer small {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.menu-icon {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 10;
}

.menu-icon div {
  height: 0.25rem;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.active .bar1 {
  transform: translateY(0.6rem) rotate(-45deg);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: translateY(-0.75rem) rotate(45deg);
}

.nav-wrapper {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  height: 100%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  width: 200px;
  z-index: 2;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  font-size: 2rem;
}

nav ul li {
  margin: 1rem 0;
}

nav a {
  text-decoration: none;
  color: white;

  &:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid white;
  }
}

nav.active {
  transform: translateX(0);
}

@media (max-width: 1180px) {
  html {
    scroll-behavior: auto;
  }
  nav {
    width: 100%;
    background: black;
  }
  nav ul {
    padding-left: 0;
  }
}

@media screen and (orientation: portrait) and (max-width: 1180px) {
  .about-grid {
    width: 80vw;
  }
  .text-box {
    width: 80vw;
    padding: 50px;
  }
  .projects-grid {
    margin: 0 10%;
  }
  .banner {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 800px) and (max-width: 1180px) {
  .about-grid {
    width: 80vw;
  }
  .text-box {
    padding: 50px;
  }
  .projects-grid {
    margin: 0 10%;
  }
}

@media screen and (orientation: landscape) and (max-height: 769px) {
  .section-title h2 {
    font-size: 3rem;
  }
  .banner {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .page-title h1 {
    font-size: 4rem;
  }
  .banner {
    bottom: 80px;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    position: relative;
    left: -20px;
  }
  .page-title h1 {
    font-size: 3rem;
  }
  .section-title h2 {
    font-size: 3rem;
  }
  .about-grid {
    grid-template-columns: 1fr;
    width: 100vw;
  }
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6 {
    grid-area: unset;
    grid-column: 1fr;
  }
  .text-box {
    width: 90vw;
    padding: 40px;
  }
  .banner {
    transform: rotate(0deg);
  }
}
